@using LongDistanceService.Web.Services.Abstract
@using Microsoft.AspNetCore.Authentication.JwtBearer
@using Microsoft.AspNetCore.Authorization
@using IAuthorizationService = LongDistanceService.Web.Services.Abstract.IIdentityService
@using LongDistanceService.Web.Routes
@using MediatR
@using LongDistanceService.Domain.CQRS.Queries.Menus
@using LongDistanceService.Domain.CQRS.Responses.Menus
@using LongDistanceService.Domain.Models.Abstract
@using LongDistanceService.Domain.Services.Abstract
@using LongDistanceService.Web.Models.Scenario.Abstract

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 12pt;" href="@ServiceRoutes.Home">Long Distance Service</a>
    </div>
</div>

<style>
    .dropdown-menu .dropdown-menu {
    	top: auto;
    	left: 100%;
    	transform: translateY(-2rem);
    }
    .dropdown-item + .dropdown-menu {
    	display: none;
    }
    .dropdown-item.submenu::after {
    	content: '▸';
    	margin-left: 0.5rem;
    }
    .dropdown-item:hover + .dropdown-menu,
    .dropdown-menu:hover {
    	display: block;
    	
    }
</style>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

@* onclick="document.querySelector('.navbar-toggler').click()" *@

<div class="nav-scrollable" style="overflow-y: visible !important;">
    <nav class="flex-column">
        @if (AuthResult != null)
        {
            <div class="nav-item px-3">
                @if (IsAdmin)
                {
                    <div class="c-w">Хорошей работы, @AuthResult.User.Login &#128666;</div>
                }
                else
                {
                    <div class="c-w">Здравствуйте, @AuthResult.User.Login</div>
                }
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@ServiceRoutes.Home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ГЛАВНАЯ
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href='weather'>
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ПОГОДА
            </NavLink>
        </div>

        @if (AuthResult != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@ServiceRoutes.Application.List">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ЗАЯВКИ
                </NavLink>
            </div>
        }

        @if (IsAdmin)
        {
            <div class="nav-item px-3">
                @((MarkupString)Menu)
            </div>
        }
    </nav>
</div>


@code{
    [Inject] public IAuthorizationService IdentityService { get; set; } = null!;
    [Inject] public ISecurityService SecurityService { get; set; } = null!;
    [Inject] public IScenarioService ScenarioService { get; set; } = null!;
    [Inject] public IMediator Mediator { get; set; } = null!;

    public string Menu { get; set; } = string.Empty;

    public bool IsAdmin { get; set; } = false;
    public IAuthResult? AuthResult { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AuthResult = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: false);

        if (AuthResult != null)
        {
            IsAdmin = await SecurityService.IsAdminAsync(AuthResult.User);
            if (IsAdmin)
            {
                var menus = await Mediator.Send(new GetMenuRequest() { UserId = AuthResult.User.Id });
                Menu = ParseToMenu([..menus]);
            }
        }

        StateHasChanged();
    }

    private string ParseMenuToHtmlDropdown(IList<IMenuItem> menu)
    {
        string html = "";

        foreach (var item in menu)
            if (item.Children == null)
            {
                string a = @"<a class='dropdown-item nav-link' href='" + item.Route + "'>" + item.Name + "</a>";
                html += a;
            }
            else
            {
                string a = @"<a class='dropdown-item submenu nav-link'>" + item.Name + "</a>";
                string dropdown = @"<div class='dropdown-menu bg-gray'>" + ParseMenuToHtmlDropdown(item.Children) + "</div>";
                html += a + dropdown;
            }

        return html;
    }

    private string ParseToMenu(IList<IMenuItem> menu)
    {
        string html = "";

        foreach (var item in menu)
            if (item.Children == null)
            {
                string a = @"<a class='nav-link c-w' href='" + item.Route + "'>" + item.Name + "</a>";
                string div = "<div class='nav-item px-3'>" + a + "</div>";
                html += div;
            }
            else
            {
                string button = @"<button type='button' class='nav-link dropdown-toggle c-w' data-bs-toggle='dropdown' aria-expanded='false'>" + item.Name + "</button>";
                string div = "<div class='nav-item px-3 btn-group dropend'>" + button;
                string dropdown = @"<div class='dropdown-menu bg-gray'>" + ParseMenuToHtmlDropdown(item.Children) + "</div>";
                html += div + dropdown + "</div>";
            }

        return html;
    }

}