@using LongDistanceService.Domain.Models.Abstract
@using LongDistanceService.Domain.Models.Abstract.Cargoes
@using LongDistanceService.Domain.Services.Abstract
@using LongDistanceService.Web.Models.Cargoes
@using LongDistanceService.Web.Models.Scenario.Abstract
@using LongDistanceService.Web.Routes
@using LongDistanceService.Web.Services.Abstract

@attribute [Route(ServiceRoutes.Reference.Cargo)]
@rendermode InteractiveServer

<style>
    .refBox {
        height: 100vh;
        text-align: center;
        padding: 20px;
    }

    .refList {
        width: 80%;
        margin: auto;
        height: 45%;
        overflow-y: auto;
    }
</style>

<div class="refBox justify-content-center">
    <h3>ГРУЗЫ</h3>
    <div class="refList">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ед. измерения</th>
                <th scope="col">Категория</th>
                <th scope="col">Название</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var cargo in Cargoes)
            {
                <tr @onclick="@(() => SelectCargo(cargo))">
                    <th scope="row">@cargo.Id</th>
                    <td>@cargo.Category.Unit.Name</td>
                    <td>@cargo.Category.Name</td>
                    <td>@cargo.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>


        <button class="btn btn-lg btn-info m-2 w-75" @onclick="AddCargo"> Новый груз</button>
    

    @if ( SelectedCargo != null ||  SelectedCargo == null && IsAdd)
    {
        <div class="justify-content-center w-75 m-auto">
            <EditForm Model="Model" method="post" FormName="cargoEdit" OnValidSubmit="EditCargo">
                <DataAnnotationsValidator/>
                <h6 class="c-g"> Название </h6>
                <InputText class="form-control w-25 m-auto"
                           @bind-Value="@Model.Name"> @Model.Name </InputText>
                <ValidationMessage For="() => Model.Name" class="text-danger"/>
                <br>
                <h6 class="c-g">Марка</h6>
                <InputSelect class="form-select w-25 m-auto" @bind-Value="Model.CategoryId">
                    @for (int i = 0; i < Categories.Count; i++)
                    {
                        @if (SelectedCargo != null && Categories[i].Id == Model.CategoryId || SelectedCargo == null && i == 0)
                        {
                            <option selected="selected" value="@Categories[i].Id">@Categories[i].Name</option>
                        }
                        else
                        {
                            <option value="@Categories[i].Id">@Categories[i].Name</option>
                        }
                    }
                </InputSelect>
                <br>
                <button type="submit"
                        class="btn btn-dark btn-lg">@(SelectedCargo == null ? "Добавить" : "Редактировать") </button>
            </EditForm>
            @if ( SelectedCargo != null)
            {
                <button type="submit"
                        class="btn btn-danger btn-lg m-1" @onclick="DeleteCargo"> Удалить
                </button>
            }

        </div>
    }
</div>

@code {
    [Inject] public IScenarioService ScenarioService { get; set; } = null!;
    [Inject] public ISecurityService SecurityService { get; set; } = null!;
    [Inject] public ICargoService CargoService { get; set; } = null!;
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;
    [Inject] public IJSRuntime JsRuntime { get; set; } = null!;

    public IAuthResult? AuthResult { get; set; }

    public IList<ICargo> Cargoes { get; set; } = [];
    public IList<ICargoCategory> Categories { get; set; } = [];
    public ICargo? SelectedCargo { get; set; }
    public CargoModel Model { get; set; } = new();

    public bool IsAdd { get; set; }

    public string Route = ServiceRoutes.Reference.Cargo;
    
    protected override async Task OnInitializedAsync()
    {
        AuthResult = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: true, redirectToLogin: true);

        if (AuthResult == null)
            NavigationManager.NavigateTo(ServiceRoutes.Home);
        else
        {

            if (!await SecurityService.IsManagementAsync())
            {
                NavigationManager.NavigateTo(ServiceRoutes.Home);
                return;
            }

            Categories = await CargoService.GetCargoCategoriesAsync();
            Cargoes = await CargoService.GetCargoesAsync();

            await base.OnInitializedAsync();
        }
    }

    public void SelectCargo(ICargo cargo)
    {
        SelectedCargo = cargo;
        Model = new()
        {
            Id = SelectedCargo.Id,
            Name = SelectedCargo.Name,
            CategoryId = cargo.Category.Id
        };
        StateHasChanged();
    }

    public void AddCargo()
    {
        IsAdd = true;
        SelectedCargo = null;
        Model = new()
        {
            CategoryId = 1
        };
        StateHasChanged();
    }

    private async Task EditCargo()
    {
        var auth = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: true, redirectToLogin: true);
        if (auth == null || !await SecurityService.IsManagementAsync())
        {
            NavigationManager.NavigateTo(ServiceRoutes.Home);
            return;
        }


        bool result = await JsRuntime.InvokeAsync<bool>("confirm", "Вы уверены?");
        if (result)
        {
            var isEdited = await CargoService.AddOrUpdateCargoAsync(Model);
            if (!isEdited)
                await JsRuntime.InvokeAsync<object>("alert", "Ошибка при изменении");

            NavigationManager.NavigateTo(Route, true);
        }
    }

    public async Task DeleteCargo()
    {
        if (SelectedCargo != null)
        {
            var auth = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: true, redirectToLogin: true);
            if (auth == null || !await SecurityService.IsManagementAsync())
            {
                NavigationManager.NavigateTo(ServiceRoutes.Home);
                return;
            }


            bool result = await JsRuntime.InvokeAsync<bool>("confirm", "Вы уверены?");
            if (result)
            {
                var isDeleted = await CargoService.DeleteCargoAsync(SelectedCargo.Id);
                if (!isDeleted)
                    await JsRuntime.InvokeAsync<object>("alert", "Ошибка при удалении");

                NavigationManager.NavigateTo(Route, true);
            }
        }
    }

}