@using LongDistanceService.Domain.Models.Abstract
@using LongDistanceService.Domain.Models.Abstract.Vehicles
@using LongDistanceService.Domain.Services.Abstract
@using LongDistanceService.Web.Models.Scenario.Abstract
@using LongDistanceService.Web.Models.Vehicles
@using LongDistanceService.Web.Routes
@using LongDistanceService.Web.Services.Abstract

@attribute [Route(ServiceRoutes.Reference.VehicleBrands)]
@rendermode InteractiveServer

<style>
    .refBox {
        height: 100vh;
        text-align: center;
        padding: 20px;
    }

    .refList {
        width: 80%;
        margin: auto;
        height: 45%;
        overflow-y: auto;
    }
</style>

<div class="refBox justify-content-center">
    <h3>МАРКИ АВТОМОБИЛЕЙ</h3>
    <div class="refList">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var brand in Brands)
            {
                <tr @onclick="@(() => SelectBrand(brand))">
                    <th scope="row">@brand.Id</th>
                    <td>@brand.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

        <button class="btn btn-lg btn-info m-2 w-75" @onclick="AddBrand"> Новая марка</button>
    

    @if (SelectedBrand != null ||SelectedBrand == null && IsAdd)
    {
        <div class="justify-content-center w-75 m-auto">
            <EditForm Model="Model" method="post" FormName="brandEdit" OnValidSubmit="EditBrand">
                <DataAnnotationsValidator/>
                <h6 class="c-g"> Название </h6>
                <InputText class="form-control w-25 m-auto"
                           @bind-Value="@Model.Name"> @Model.Name </InputText>
                <ValidationMessage For="() => Model.Name" class="text-danger"/>
                <br>
                <button type="submit"
                        class="btn btn-dark btn-lg">@(SelectedBrand == null ? "Добавить" : "Редактировать") </button>
            </EditForm>
            @if (SelectedBrand != null)
            {
                <button type="submit"
                        class="btn btn-danger btn-lg m-1" @onclick="DeleteBrand"> Удалить
                </button>
            }

        </div>
    }
</div>

@code {
    [Inject] public IScenarioService ScenarioService { get; set; } = null!;
    [Inject] public ISecurityService SecurityService { get; set; } = null!;
    [Inject] public IVehicleService VehicleService { get; set; } = null!;
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;
    [Inject] public IJSRuntime JsRuntime { get; set; } = null!;

    public IAuthResult? AuthResult { get; set; }

    public IList<IBrand> Brands { get; set; } = [];
    public IBrand? SelectedBrand { get; set; }
    public VehicleBrandModel Model { get; set; } = new();

    public bool IsAdd { get; set; }

    public string Route = ServiceRoutes.Reference.VehicleBrands;


    protected override async Task OnInitializedAsync()
    {
        AuthResult = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: true, redirectToLogin: true);

        if (AuthResult == null)
            NavigationManager.NavigateTo(ServiceRoutes.Home);
        else
        {
            if (!await SecurityService.IsManagementAsync())
            {
                NavigationManager.NavigateTo(ServiceRoutes.Home);
                return;
            }

            Brands = await VehicleService.GetBrandsAsync();

            await base.OnInitializedAsync();
        }
    }

    public void SelectBrand(IBrand brand)
    {
        SelectedBrand = brand;
        Model = new()
        {
            Id = SelectedBrand.Id,
            Name = SelectedBrand.Name
        };
        StateHasChanged();
    }

    public void AddBrand()
    {
        IsAdd = true;
        SelectedBrand = null;
        Model = new();
        StateHasChanged();
    }

    private async Task EditBrand()
    {
        var auth = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: true, redirectToLogin: true);
        if (auth == null || !await SecurityService.IsManagementAsync())
        {
            NavigationManager.NavigateTo(ServiceRoutes.Home);
            return;
        }

        bool result = await JsRuntime.InvokeAsync<bool>("confirm", "Вы уверены?");
        if (result)
        {
            var isEdited = await VehicleService.AddOrUpdateBrandAsync(Model);
            if (!isEdited)
                await JsRuntime.InvokeAsync<object>("alert", "Ошибка при изменении");

            NavigationManager.NavigateTo(Route, true);
        }
    }

    public async Task DeleteBrand()
    {
        if (SelectedBrand != null)
        {
            var auth = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: true, redirectToLogin: true);
            if (auth == null || !await SecurityService.IsManagementAsync())
            {
                NavigationManager.NavigateTo(ServiceRoutes.Home);
                return;
            }

            bool result = await JsRuntime.InvokeAsync<bool>("confirm", "Вы уверены?");
            if (result)
            {
                var isDeleted = await VehicleService.DeleteBrandAsync(SelectedBrand.Id);
                if (!isDeleted)
                    await JsRuntime.InvokeAsync<object>("alert", "Ошибка при удалении");

                NavigationManager.NavigateTo(Route, true);
            }
        }
    }

}